@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@900&display=swap');

.App-container {
  margin: 0 auto;
  padding: 8px;
  max-width: 960px;
  font-family: 'Nunito Sans', sans-serif;
}

.App-title {
  margin: 10px;
  font-size: 56px;
  text-align: center;
}

